.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/*
/Destagram/Destagram.iml
/Destagram/.idea
Destagram/app/app.iml
app/app.iml
app/app.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml